.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 2.5px solid #222831;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: #30475e;
  border: 2.5px solid #30475e;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #5782ad;
  border: 2.5px solid #5782ad;
  color: white;
}
